.lds-ripple {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #0050B3;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 75px;
      left: 75px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 75px;
      left: 75px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 75px;
      left: 75px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }

  /* logo zoom-in-out animation */
  .logo-animation{
    animation: logo-animation 1s ease-in-out infinite;
  }
    @keyframes logo-animation {
        0% {
        transform: scale(0.8);
        }
        50% {
        transform: scale(1);
        }
        100% {
        transform: scale(0.8);
        }
    }