@font-face {
  font-family: "Defago Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Defago Noto Sans"),
    url("/public/fonts/DefagoNotoSansLao.ttf") format("truetype");
}

@font-face {
  font-family: "Defago Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Defago Noto Sans"),
    url("/public/fonts/DefagoNotoSansLaoBold.ttf") format("truetype");
}

body {
  font-family: "Defago Noto Sans";
}

.alert {
  margin-top: 60px;
}
